In [ ]:
#1.Find out how many males and females participated in the test.
import numpy as np
import pandas as pd
data=pd.read_csv('/content/sample_data/StudentsPerformance.csv')
data['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [ ]:
#2.What do you think about the students' parental level of education?
data['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [ ]:
#3.Who scores the most on average for math, reading and writing based on
#3.aGender
import numpy as np
import pandas as pd
data=pd.read_csv('/content/sample_data/StudentsPerformance.csv')
data.groupby('gender').mean()

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

In [ ]:
#3.bTest preparation course
data.groupby('test preparation course').mean()

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

In [22]:
#4.What do you think about the scoring variation for math, reading and writing based on
#4.a Gender
import numpy as np
import pandas as pd
data=pd.read_csv('/content/sample_data/StudentsPerformance.csv')
d1=data.groupby('gender')
math_score_variance =d1['math score'].var()
print('scoring variation for math',math_score_variance)
reading_score_variance = d1['reading score'].var()
print('scoring variation for reading',reading_score_variance)
writing_score_variance = d1['writing score'].var()
print('scoring variation for writing',writing_score_variance)

scoring variation for math gender
female    256.958593
male      211.889097
Name: math score, dtype: float64
scoring variation for reading gender
female    207.677438
male      200.211010
Name: reading score, dtype: float64
scoring variation for writing gender
female    220.369327
male      202.413924
Name: writing score, dtype: float64

In [23]:
#4.b Test preparation course
d1=data.groupby('test preparation course')
math_score_variance =d1['math score'].var()
print('scoring variation for math',math_score_variance)
reading_score_variance = d1['reading score'].var()
print('scoring variation for reading',reading_score_variance)
writing_score_variance = d1['writing score'].var()
print('scoring variation for writing',writing_score_variance)

scoring variation for math test preparation course
completed    210.884027
none         246.668662
Name: math score, dtype: float64
scoring variation for reading test preparation course
completed    183.265864
none         213.419851
Name: reading score, dtype: float64
scoring variation for writing test preparation course
completed    175.202612
none         226.251739
Name: writing score, dtype: float64

In [74]:
# 5.giving bonus points to the top 25% of students based on maths score
data1=data['math score']
data2=data1.tail(250)

421     77
423     77
418     77
419     77
420     77
      ...
997    100
516    100
998    100
515    100
999    100
Name: math score, Length: 250, dtype: int64